
body {
  background-color: rgb(0, 0, 0);
}

h1 {
  color: darkgreen;
  text-align: center;
  border-style: solid;
}

img{
  width: 300px;
  height: 480px;
  padding-left: 40%;
  padding-right: 30%;
}

p {
  text-align: justify;
  color: darkgreen;
  font-family: verdana;
  font-size: 20px;
}
